@model OcspStatusViewModel

@{
    ViewData["Title"] = "Result";
}

<link href="~/css/ocsp.min.css" rel="stylesheet" asp-add-nonce="true" />
<div id="content">
    @if (Model.Status == 0)
    {
        <svg class="green" xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none" /><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" /></svg>
        <h2>This certificate is valid and genuine!</h2>
    }
    else if (Model.Status == 1)
    {
        <svg class="red" xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none" /><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z" /></svg>

        <h2>This certificate has been revoked!</h2>
    }
    else
    {
        <svg class="gold" xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none" /><path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" /></svg>
        <h2>@(String.IsNullOrEmpty(Model.Error) ? "There was a error processing the request. Please try again!" : Model.Error)</h2>
    }

    <br />
    @if (Model.Status == 0 || Model.Status == 1)
    {
        <h4>OCSP Information:</h4>
        <table class="informationTable">
            <tr>
                <td>Produced At:</td>
                <td>@Model.ProducedAt</td>
            </tr>
            <tr>
                <td>This Updated:</td>
                <td>@Model.ThisUpdate</td>
            </tr>
            <tr>
                <td>Next Update:</td>
                <td>@Model.NextUpdate</td>
            </tr>
            @if (Model.Status == 1)
            {
                <tr>
                    <td>Revoked At:</td>
                    <td>@Model.RevocationTime</td>
                </tr>
                <tr>
                    <td>Revocation Reason:</td>
                    <td>@(Model.RevocationReason == -1 ? "Not Provided" : Model.RevocationReason.ToString())</td>
                </tr>
            }
        </table>
        <h4>Certificate Information:</h4>
        <table class="informationTable">
            <tr>
                <td>Subject:</td>
                <td>@(Model.Certificate.Subject)</td>
            </tr>
            <tr>
                <td>Issuer:</td>
                <td>@(Model.Certificate.Issuer)</td>
            </tr>
            <tr>
                <td>Serial Number:</td>
                <td>@(Model.Certificate.SerialNumber)</td>
            </tr>
            <tr>
                <td>Expiration Date:</td>
                <td>@(Model.Certificate.ExpirationDate)</td>
            </tr>
        </table>
    }
    @Html.ActionLink("Back", "Index", "OCSP", null, new { @class = "underline blue" })
</div>

